.connectColumns {
    display: flex; 
    /* flex-direction: column;  */
    /* flex-wrap: wrap;  */
    /* max-height: 700px;  */
    /* max-width: 0% */
}


@media (max-width: 400px) {
    .connectColumns {
        max-height: none;
    }
  } 

.nftStyle {
    width: 300px;
    border: 3px solid white;
    border-radius: 1.5rem;
}

.builtWith {
    display: none;
  }

.appButton {
    background: transparent;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width:300px;
    border:3px solid white; 
    border-radius: 1.5rem;
    color: white;
    margin: 0px 0px 0px 20px;
  }

  .appButton:hover .builtWith{
    display: block;
  }

  .appButtonTagline {
    margin-top: 3.5rem;
  }